[Unit]
Description=Check GitHub main for onion site updates every minute

[Timer]
OnBootSec=1min
OnUnitInactiveSec=1min
AccuracySec=1s
Unit=miguelzacca-onion-deploy.service

[Install]
WantedBy=timers.target
